<!DOCTYPE html>
<html lang="en">

  <head>
  <%- include('head') %>
    <title>Home</title>
</head>

<body>
  <%- include('navbar') %>
    <div>
        <div class="bg-white">
  <img src="<%= blog.image %>" class="card-img-top" alt="...">
  <div class=" m-4"> 
    <h2><%= blog.title %></h2>
    <pre class="flex items-center justify-between mb-8  pb-4 whitespace-pre-wrap font-sans"><%= blog.body %></pre>
    <p class="text-grey-800"><strong>Blog By: <%= blog.createdBy.name %></strong></p>
    <b>CreatedAt: <%= blog.createdAt %></b>
  </div>
</div>

<div>
    <h3 class=" m-8">Comments</h3>
    <div>
     <% if (locals.comments){ 
      comments.forEach((comment) =>{ %>

      <div class="bg-white mb-5 rounded-xl ">
        <p><strong><%= comment.userId.name %></strong></p>
        <p><%= comment.comment %></p>
      </div>

      <% } )} %>
    </div>
    <% if (locals.user){ %>
        <form action="/blog/comments/<%= blog._id %>" method="post">
            <textarea name="comment" id=""></textarea>
            <button type="submit">Send</button>
        </form>
   <% } %>
</div>
    </div>

   <%- include('script') %>
</body>
</html>