<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head') %>
    <title>Home</title>
</head>

<body>
  <%- include('navbar') %>

    <div class="container">
      <% if (locals.blogs) { blogs.forEach((blog)=>{ %>
        <div class="card" style="width: 18rem;">
          <img src="<%= blog.image %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= blog.title %></h5>
            <p class="card-text"><%= blog.body %></p>
            <a href="/blog/readBlog/<%= blog._id %>" class="btn btn-primary">Read Blog</a>
          </div>
        </div>

        <% }) } %>
    </div>


    <%- include('script') %>
</body>

</html>